data/
data/*
logs/
logs/*
backups/
backups/*
certs/
certs/*
*-certs/
*-certs/*

notes
notes/*
scripts/
scripts/*


functional-test
stress-test-*
cmd/batch-test
main
*-main
storage.test

go.sum

*.log
stress-test-*.csv
stress-test-*.json
*.vlog
*.mem
DISCARD
KEYREGISTRY
MANIFEST

Makefile