data/
data/*
logs/
logs/*
backups/
backups/*
certs/
certs/*
*-certs/
*-certs/*

notes
notes/*
scripts/
scripts/*

server
functional-test
stress-test
stress-test-*
main
*-main
storage.test

go.sum

*.log
*.csv
*.json
*.vlog
*.mem
DISCARD
KEYREGISTRY
MANIFEST

Makefile